@font-face {
  font-family: 'TTLakes-Bold';
  src: url(fonts/TTLakes-Bold.eot) format("eot"),
    url(fonts/TTLakes-Bold.woff) format("woff"),
    url(fonts/TTLakes-Bold.ttf) format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'TTLakes-Medium';
  src: url(fonts/TTLakes-Medium.eot) format("eot"),
    url(fonts/TTLakes-Medium.woff) format("woff"),
    url(fonts/TTLakes-Medium.ttf) format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'TTLakes-Regular';
  src: url(fonts/TTLakes-Regular.eot) format("eot"),
    url(fonts/TTLakes-Regular.woff) format("woff"),
    url(fonts/TTLakes-Regular.ttf) format("truetype");
  font-style: normal;
  font-weight: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'TTLakes-Medium';
  font-size: 16px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #1B1C21;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  margin: 0;
  padding: 0;
}

button {
  background-color: white;
  border: 0;
  border-radius: 50%;
  margin: 0;
  padding: 0;
  cursor: pointer;
  width: 40px;
  height: 40px;
}

button:hover,
.header__logo:hover {
  filter: saturate(500%);
  transition: ease-in 0.5s;
}

button:active {
  transform: scale(0.9);
}

.sidebar {
  width: 320px;
  height: 1024px;
  margin: 0 auto 0 0;
  padding: 0;
  box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02),
    16px 0px 52px rgba(14, 24, 80, 0.2);
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
}

.sidebar__header {
  padding: 0 24px;
  height: 86px;
  display: flex;
  align-items: center;
}

.header__logo {
  margin-left: 16.73px;
  margin-right: auto;
}

.sidebar__menu {
  margin: 0;
  padding: 0;
  margin-bottom: auto;
}

.menu__items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 30px 0 0 0;
  padding: 0;
}

.menu__item {
  margin: 0;
  padding: 0;
  height: 32px;
  margin-bottom: 24px;
  position: relative;
}

.menu__link {
  display: block;
  height: 32px;
  padding-left: 24px;
  vertical-align: middle;
  line-height: 32px;
}

.menu__item:hover .menu__link {
  color: #7E7E82;
}

.menu__link::before {
  position: absolute;
  content: "";
  background-image: url(highlight.svg);
  width: 4px;
  height: 32px;
  left: 0px;
  opacity: 0;
}

.menu__link:hover::before {
  opacity: 1;
}

.menu__item:active .menu__link {
  color: red;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 24px;
}

.footer__actions {
  margin: 0;
  padding: 0;
  display: flex;
  margin-bottom: 16px;
}

.footer__action {
  margin-right: 16px;
}

.footer__mail {
  font-size: 16px;
  margin-bottom: 12px;
  height: 24px;
  line-height: 24px;
  letter-spacing: -0.2px;
}

.footer__phone {
  font-family: 'TTLakes-Bold';
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.6px;
}

.footer__languages {
  display: flex;
  margin: 0;
  padding: 0;
  margin-top: 40px;
  margin-bottom: 32px;
}

.footer_lang_en {
  margin: 0 7px;
  padding: 0;
  justify-content: flex-start;
}

.footer__link:hover {
  color: #7E7E82;
}

.footer__link:focus {
  color: #7E7E82;
}